<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Cadastro de Usuários
      </nb-card-header>

      <nb-card-body>
        <form [formGroup]="formUsuario" (ngSubmit)="salvarUsuario()">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <input formControlName="id" id="id" type="hidden">

              <div class="form-group">
                <label for="name"><strong>Nome:</strong></label>
                <input formControlName="name" id="name" type="text" nbInput fullWidth placeholder="Digite seu nome..." class="form-control">
                <div class="text-danger" style="font-size: small;" *ngIf="formUsuario.get('name').invalid && (formUsuario.get('name').dirty || formUsuario.get('name').touched)">
                  <div *ngIf="formUsuario.get('name').errors.required">Nome é obrigatório.</div>
                  <div *ngIf="formUsuario.get('name').errors.minlength">Nome deve ter no mínimo 3 caracteres.</div>
                  <div *ngIf="formUsuario.get('name').errors.maxlength">Nome deve ter no máximo 50 caracteres.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="email"><strong>E-mail:</strong></label>
                <input formControlName="email" id="email" type="text" nbInput fullWidth placeholder="Digite seu e-mail..." class="form-control">
                <div class="text-danger" style="font-size: small;" *ngIf="formUsuario.get('email').invalid && (formUsuario.get('email').dirty || formUsuario.get('email').touched)">
                  <div *ngIf="formUsuario.get('email').errors.required">E-mail é obrigatório.</div>
                  <div *ngIf="formUsuario.get('email').errors.pattern">E-mail inválido.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password"><strong>Senha:</strong></label>
                <input formControlName="password" id="password" type="password" nbInput fullWidth placeholder="Senha" class="form-control">
                <div class="text-danger" style="font-size: small;" *ngIf="formUsuario.get('password').invalid && (formUsuario.get('password').dirty || formUsuario.get('password').touched)">
                  <div *ngIf="formUsuario.get('password').errors.required">Senha é obrigatória.</div>
                  <div *ngIf="formUsuario.get('password').errors.minlength">Senha deve ter no mínimo 6 caracteres.</div>
                  <div *ngIf="formUsuario.get('password').errors.maxlength">Senha deve ter no máximo 20 caracteres.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassWord"><strong>Confirmar Senha:</strong></label>
                <input formControlName="confirmPassWord" id="confirmPassWord" type="password" nbInput fullWidth placeholder="Confirmar Senha" class="form-control">
                <div class="text-danger" style="font-size: small;" *ngIf="formUsuario.hasError('notSame') && (formUsuario.get('confirmPassWord').dirty || formUsuario.get('confirmPassWord').touched)">
                  As senhas não correspondem.
                </div>
              </div>
            </div>
          </div>

          <div class="row py-3">
            <div class="col-sm-12 col-md-12">
              <div class="text-right">
                <button type="button" nbButton status="primary" class="btn btn-sm btn-primary" style="margin-right: 10px;" (click)="toggleListarUsuariosCard()">Pesquisar</button>

                <button type="button" nbButton status="danger" class="btn btn-sm btn-secondary" style="margin-right: 10px;" (click)="limparUsuario()">
                  Limpar
                </button>

                <button type="submit" nbButton status="primary" class="btn btn-sm btn-primary" [disabled]="formUsuario.invalid">
                  {{ isEditar ? 'Atualizar' : 'Salvar' }}
                </button>
                              </div>
            </div>
          </div>
        </form>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <nb-card *ngIf="mostrarListarUsuariosCard">
      <nb-card-header>
        Lista de Usuários
      </nb-card-header>

      <nb-card-body>
          <table class="table table-hover table-striped table-bordered">
            <thead>
              <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">Nome</th>
                <th class="text-center" scope="col">Email</th>
                <th class="text-center" scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let usuario of listarUsuarios let i = index">
                <tr>
                  <td class="text-center">{{ usuario.id }}</td>
                  <td class="text-left">{{ usuario.name }}</td>
                  <td class="text-left">{{ usuario.email }}</td>
                  <td class="text-center">
                      <i class="nb-edit action-icon text-primary" style="cursor: pointer; font-size: 1.8em;" (click)="carregarDadosParaEdicao(usuario)"></i>

                    <i class="nb-trash action-icon text-danger" style="cursor: pointer; font-size: 1.8em;" (click)="onDeleteConfirm(usuario.id)"></i>
                  </td>

                </tr>
              </ng-container>
            </tbody>
          </table>
          <ng-template #noUsers>
            <p class="text-muted">Nenhum usuário cadastrado.</p>
          </ng-template>
      </nb-card-body>
    </nb-card>
  </div>

</div>


